@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$fonts1: Allura, Arial;
$fonts2: Poppins, Arial;
$fonts3: Roboto, Arial;

$black1: rgb(10,10,10);
$white1: rgb(250, 250, 250);
$color1: rgb(153, 113, 53);
$color2: rgb(34, 33, 30);
$color3: rgb(240, 240, 240);
$grey1: rgb(177, 177, 177);
$grey2: rgb(87, 87, 87);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  scroll-behavior: smooth;
}
li{
  list-style: none;
}
a,a:visited{
  color: $white1;
}
body{
  font-family: $fonts3;
  text-align: center;
  &::-webkit-scrollbar{
    width: 10px;
    }  
  &::-webkit-scrollbar-track{
    background: rgb(221, 221, 221);
  }
  &::-webkit-scrollbar-thumb{
    background-color: $color1;
    border-radius: 20px;
    border: 2px solid rgb(221, 221, 221);
  }
}
h1,h2,h6,#btn1,#btn2{
  font-family: $fonts2;
  text-transform: uppercase;
}
h2{
  letter-spacing: 2px;
}
h3{
  font-family: $fonts1;
  color: $color1;
  font-size: 2rem;
  font-weight: 100;
}